* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
}

body,
.input-area {
    font-family: 'Open Sans', sans-serif;
}

.timer {
    text-align: center;
    font-size: 3rem;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: purple;
    padding: 1rem;
    border-radius: 10px;
    .quote {
        margin: 0 auto 1rem auto;
        width: 90%;
        color: #ffffff;
        height: 100px;
        &__content {
            font-size: 1.2em;
            span {
                &.correct {
                    color: green;
                }
                &.wrong {
                    color: red;
                    text-decoration: underline;
                }
            }
        }
        &__author {
            &::before {
                content: '-';
                margin-right: 5px; 
            }
        }
    }
    .input-field {
        width: 700px;
        margin: 0 auto 25px auto;
        .input-area {
            width: 100%;
            height: 200px;
            padding: 10px;
            font-size: 1.5em;
            color: #ffffff;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 5px;
            outline: none;
            resize: none;
            transition: .5s;
        }
    }
}

.keyboard {
    width: 100%;
    // margin: 0 auto;
    .row-2 {
        margin-left: 40px;
    }
    .row-3 {
        margin-left: 60px;
    }
    .row-4 {
        width: 100%;
    }
    .key {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
        padding: 8px 15px;
        border-radius: 10px;
        background: linear-gradient(180deg, #282828, #202020);
        box-shadow: 0 0 0 2px rgba(0,0,0,0.75),
        10px 20px 25px rgba(0,0,0,0.4);
        overflow: hidden;
        transition: all 0.2s;
        i {
            position: relative;
            color: #ffffff;
            font-style: normal;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        &::before {
            position: absolute;
            content: '';
            top: 3px;
            left: 4px;
            bottom: 14px;
            right: 12px;
            background: linear-gradient(90deg, #232323, #4a4a4a);
            border-radius: 10px;
            box-shadow: -10px -10px 10px rgba(255,255,255,0.25),
            10px 5px 10px rgba(0,0,0,0.15);
            border-left: 1px solid #0004;
            border-bottom: 1px solid #0004;
            border-top: 1px solid #0009;
        }
        &.punctuation {
            padding: 30px 15px;
        }
        &.double-punctuation {
            padding: 4px 15px;
            i {
                display: block;
            }
        }
        &.spacebar {
            width: 60%;
            margin-left: 160px;
        }
        &.pressed {
            animation: keypress 0.1s ease-out ;
        }
    }
}

@keyframes keypress {
    0%   {top: 0px; transform: scale(1);}
    25%  {top: 2px; transform: scale(0.98);}
    50%  {top: 4px;transform: scale(0.97);}
    75%  {top: 2px;transform: scale(0.98);}
    100% {top: 0px;transform: scale(1);}
}